@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:400,600,700');
@import '../node_modules/bootstrap/scss/bootstrap';
*,
*:after,
*:before {
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  background: transparent;
}

body {
  font: 14px/20px 'Chakra Petch', sans-serif;
  color: #777;

  &.no-overflow{
    height: 100vh;
    overflow: hidden;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a,
button,
input[type=submit] {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: none;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.inactiveLink{
  pointer-events: none;
}

a,
button,
input,
select,
textarea {
  outline: none !important;
  //-webkit-appearance: none;
}

button,
input,
select,
textarea {
  font-family: 'Chakra Petch', sans-serif;
}

img {
  max-width: 100%;
}

.search-input{
  margin-bottom: 20px;
}

.container {
  background: none;
  padding-bottom: 40px;
}

.gif-block{
  margin: 14px 7px 0;

  .img{
    min-height: 200px;
    margin-bottom: 7px;
    outline: none;
  }
}

.checkbox-wrap{
  margin-top: 7px;
}

.md-button{
  margin: 7px 0 0;
}
.overlay{
  z-index: -1;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0);

  &.active{
    z-index: 10;
    opacity: 0.6;
  }
}
original-image{
  position: fixed;
  max-height: 80vh;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  .image-wrap{
    padding: 8px;
    border-radius: 3px;
    background: #fff;
    position: relative;

    img{
      display: block;
    }

    .cross{
      position: absolute;
      top: 2px;
      right: 2px;
      background: #fff;
      border: 1px solid #000;
      border-radius: 3px;
      color: #000;
      height: 22px;
      width: 22px;
      line-height: 15px;
      text-align: center;
    }
  }
}

h5 {
  margin-top: 15px;
}
//
//md-tabs, md-tabs-content-wrapper, md-tab-content{
//  overflow: visible;
//}


